html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  font: 16px Lucida Console;
}

.wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
  font: 14px Lucida Console;
}

header {
    text-align: center;
    background: black;
    color: #fff;
    padding: 10px;
  }

form{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin-top: 18%; 
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    font: 14px Lucida Console;
}

form input[type=text]{
    height: 26px;
    margin-bottom:5px;    
    text-align: center;
    color: black;
    font: 14px Lucida Console;
    border: 1px solid black;
}

form input[type=text]:focus{
    outline: 1px solid grey;
}

form input[type=password]{
    height: 26px;
    margin-bottom:5px;  
    text-align: center;  
    color: black;
    font: 14px Lucida Console;
    border: 1px solid black;
}

form input[type=password]:focus{
    outline: 1px solid grey;
}

form input[type=submit]{
    height: 36px;
    margin-top:10px;    
    border: 1px solid black;
    border-radius: 3px;
    background: white;
    color: black;
    font: 14px Lucida Console;
    text-decoration: underline;
}

form input[type=submit]:hover{
    background: black;
    color: white;
}