<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <title>Home</title>
</head>

<body>
  <div class="wrap">

    <header>
      <h1>S P A C E I N V A D E R S</h1>
    </header>

    <nav>
      <a class="btn" routerLink="/login">Login</a>
      <a class="btn" routerLink="/registration">Registration</a>
    </nav>

    <footer>thinking...</footer>
  </div>

</body>

</html>